body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  color: #333;
  font-weight: 200;
}

nav {
  position: fixed;
  top: 0;
  width: 200px;
  padding: 0 20px;
}
nav p {
  font-size: 80%;
  text-align: justify;
}
nav ul {
  margin: 0;
  padding: 0 20px;
  font-size: 90%;
}
nav li {
  margin: .5ex 0;
}

article {
  margin-left: 250px;
  max-width: 600px;
  line-height: 133%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0 .5ex 0;
}
p {
  margin: .5ex 0 1ex 0;
}

a:link {
  color: #0F4259;
}
a:visited {
  color: #0F594B;
}
a:hover {
  color: #2A637D;
}
a:active {
  color: #2B4F5E;
}

form {
  margin: 2ex 0;
}

.flex-fill {
  display: flex;
}
.flex-fill input {
  flex-grow: 1;
  margin: 0 3pt;
}
